<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.joymeter.Activities" version="1.1.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JoyMeter</name>
    <description>
		An activity recorder
    </description>
    <author email="philipp.grunewald@ouce.ox.ac.uk" href="http://www.energy-use.org">
        Phil Grunewald
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="https://ajax.googleapis.com/ajax/libs/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://energy-use.org" />
    <allow-navigation href="http://energy-use.org/*" />
    <icon src="www/img/ios/icon-60.png" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <allow-intent href="market:*" />
        <icon src="www/img/recent.png" />
        <icon density="ldpi" src="www/img/meter_go.png" />
        <icon density="mdpi" src="www/img/meter_go.png" />
        <icon density="hdpi" src="www/img/meter_go.png" />
        <icon density="xhdpi" src="www/img/meter_go.png" />
        <icon density="xxhdpi" src="www/img/meter_go.png" />
        <icon density="xxxhdpi" src="www/img/meter_go.png" />
    </platform>
    <platform name="ios">
        <allow-navigation href="http://www.energy-use.org/*" />
        <icon height="1024" src="www/img/ios/icon-1024.png" width="1024" />
        <icon height="180" src="www/img/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/ios/icon-60.png" width="60" />
        <icon height="120" src="www/img/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/ios/icon-76.png" width="76" />
        <icon height="152" src="www/img/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/ios/icon-40.png" width="40" />
        <icon height="80" src="www/img/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="www/img/ios/icon-57.png" width="57" />
        <icon height="114" src="www/img/ios/icon-57@2x.png" width="114" />
        <icon height="72" src="www/img/ios/icon-72.png" width="72" />
        <icon height="144" src="www/img/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="www/img/ios/icon-29.png" width="29" />
        <icon height="58" src="www/img/ios/icon-29@2x.png" width="58" />
        <icon height="50" src="www/img/ios/icon-50.png" width="50" />
        <icon height="100" src="www/img/ios/icon-50@2x.png" width="100" />
        <icon height="167" src="www/img/ios/icon-83.5@2x.png" width="167" />
        <splash src="www/img/ios/Default@2x~universal~anyany.png" />
        <splash src="www/img/ios/Default@3x~universal~anyany.png" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-badge" spec="^0.8.8" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^8.0.0" />
</widget>
