<?xml version='1.0' encoding='utf-8'?>
<widget id="org.energy_use.meter" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Activity recorder</name>
    <description>
		An activity recorder
    </description>
    <author email="philipp.grunewald@ouce.ox.ac.uk" href="http://www.energy-use.org">
        Phil Grunewald
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="https://ajax.googleapis.com/ajax/libs/*" />
    <allow-intent href="http://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://energy-use.org" />
    <allow-navigation href="http://energy-use.org/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/recent.png" />
        <icon density="ldpi" src="www/img/meter_go.png" />
        <icon density="mdpi" src="www/img/meter_go.png" />
        <icon density="hdpi" src="www/img/meter_go.png" />
        <icon density="xhdpi" src="www/img/meter_go.png" />
        <icon density="xxhdpi" src="www/img/meter_go.png" />
        <icon density="xxxhdpi" src="www/img/meter_go.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.0.0" />
</widget>
