/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:20px;
  font-weight: lighter;
  height:100%;
  width:100%;

  text-align: center;
  position: relative;
  color: #444;
}

ampm {
  font-size: 60%;
}

/* Portrait layout (default) */
.app {
  margin: 0 auto;

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {

  }
}

.navbar {
  /* where the "Home | About Me | Help" is displayed */
  height: 8%;
}
.header {
  /* where the Question is displayed */
  height: 20%;
}

.btn-box {
  background-color: #ccc;
  border-radius: 	20px;
  font-size: 		150%;
  margin: 		20px;
  padding:		10px;
}

.btn-catchup {
  background-color: #ccc;
  border-radius: 20px;
  font-size: 150%;
  margin-top: -15px;
  padding: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.help-caption {
  color: #060;
  font-style: italic;
  font-family: serif;
}

.alert {
  height: 18%;
  padding: 20px;
}

.contents {
  height: 80%;
}

.main-screen {
  height: 100%;
  overflow-y: scroll;
}

.other-specify-nav {
  display: table;
  width: 100%;
  height: 18%;
  border-collapse: separate;
  border-spacing: 1px;
}
.footer-nav {
  display: table;
  width: 100%;
  height: 18%;
  border-collapse: separate;
  border-spacing: 1px;
  /* background: #000;
  color: #fff; */
}


h1 {
  text-transform: uppercase;
}

.container {
  display: table;
  width:  100%;
  height: 100%;
}

#title {
  display: inline-block;
  font-weight: lighter;
  font-size: 120%;
  vertical-align: top;
  padding: 2%;
}

#btn-history {
  font-weight: lighter;
  font-size: 150%;
  background-color: #eec;
  margin-top: 15px;
  padding: 5px;
}

.clock-act {
  display: inline-block;
  height: 112px;
  width: 112px;
}

#btn-now {
  height: 90px;
}
#btn-recent {
  height: 90px;
}

#imgStatus {
  height: 50px;
}

#survey-status {
  vertical-align:top;
  float:right;
}

#list_activity_pane {
  display: block;
  width: 100%;
  height: 100%;
}

#choices_pane {
  display: none;
  width: 100%;
  height: 100%;
}

.choices {
  display: table;
  width: 100%;
  height: 80%;
  border-collapse: separate;
  border-spacing: 4px;
}

.navbar {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.row {
  display: table-row;
  padding: 5px 0;
  width: 100%;
}

.inline {
  display:inline-block;
}

.col {
  background-position: center;
  background-repeat:no-repeat;
  background-size: auto 100%;
  display: table-cell;
  padding: 5px;
  /*background: #ededed;*/
  /* vertical-align: middle; */
  width: 50%;
}
.col-footer {
  background: #000;
  color: #fff;
}

.col-choices {
  height: 33%;
}

.col-50 {
  display: table-cell;
  padding: 5px;
  background: #000;
  color: #fff;
  vertical-align: middle;
  width: 50%;
  height: 100%;
}
.col-25 {
  display: table-cell;
  padding: 5px;
  background: #000;
  color: #fff;
  vertical-align: middle;
  width: 25%;
  height: 100%;
}

.col-3 {
  display: table-cell;
  padding: 5px;
  background: #000;
  color: #fff;
  vertical-align: middle;
  width: 33%;
  height: 100%;
}
.col-4 {
  display: table-cell;
  padding: 5px;
  background: #ededed;
  vertical-align: middle;
  width: 33%;
  height: 100%;
}


.btn-nav {
  background-color: #eec;
}

.btn-activity {
  /* default behaviour for activity buttons - superseded by category if specified */
  border-radius: 5px;
  background-color: #eec;
  height: 90px;
}

.btn-title {
  /* the short main description */
  font-weight: lighter;
  font-size: 110%;
  color: #060;
}

.btn-caption {
  display: none;
  font-size: 90%;
  /*color: #060;*/
  color: #060;
  font-style: italic;
  font-family: serif;
}


div#activity-list {
  width: 100%;
  margin: 2px 0;
  display: table;
  table-layout: fixed;
}

div.activity-row {
  border-radius: 20px;
  margin: 2px 0;
}

div.activity-item {
  display: table-cell;
  /* text-align: left; */
  /* background: #ededed; */
  vertical-align: middle;
  border-bottom: 2px white solid;
  width: 100%;
}

div.activity-cell {
  /* border-bottom: 2px white solid; */
  /* vertical-align: middle; */
}
div.activity-time {
  width:	30%;
  /* border-bottom: 2px white solid; */
}
div.activity-icon {
  width:	50px;
  /* border-bottom: 2px white solid; */
}
img.activity-icon {
  height: 50px;
}

div.btn-time {
  display: table-cell;
  /* background: #ededed; */
  vertical-align: middle;
  width: 28%;
}

div.btn-add {
  display: table-cell;
  /* background: #ededed; */
  vertical-align: middle;
  width: 20%;
}

div.btn-terminate {
  display: table-cell;
  /* background: #ededed; */
  vertical-align: middle;
  width: 20%;
}

div.progress-row {
  margin: 35px 0;
  padding-left: 50px;
}
div.progress-item {
  text-align: left;
}
#progress {
  margin-left: 15px;
}

.clickable {
  border: 1px solid #555;
  border-radius: 3px;
  padding: 2px;
}

span.bordered {
  border: 1px solid #555;
  border-radius: 3px;
  padding: 2px;
}

div#other-specify {
  display: none;
  position: absolute;
  left: 5%;
  top: 20%;
  height: 20%;
  width: 90%;
  z-index: 1;
}
#free-text {
  height: 50px;
  line-height: 50px;
}
/*
input[type=text] {
width: 60%;
CHANGE BACK TO 100px if troubles
}

input[type=submit] {
height: 8%;
CHANGE BACK TO 25px if troubles
}
*/


div#btn-other-specify {
  width: 50%;
  margin: 20px;
  height:60px;
  background-color: #eec;
}

div#other-specify input {
  width: 100%;
}

.set_up_screen {
  height:100%;
  text-align:center;
}
.set_up_screen > div {
  height: calc(100%/3);
  width: 100%;
  border:1px solid red;
  text-align:center;
  margin:2%;
}

.btn_personalise {
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 75%;
  height: 10%;
  border-radius: 4px;
  background: rgb(28, 184, 65);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  */
  box-shadow: 0px 1px 7px 0px #000000;
  background-color:#44c767;
  border-radius:8px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:26px;
  padding:5px 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-bottom: 2%;
}
.btn_submit, .btn_personalise:hover {
  background-color:#5cbf2a;
}

.btn_submit, .btn_personalise:focus {
  outline: none;
}

.welcome{
  padding: 10%;
  font-size: 20px;
}

.help_text{
  margin: 5%;
  padding-top: 5%;
  padding-bottom:: 5%;
  text-align: center;
  font-size: 25px;
  text-align: center;
}


br {
  display: block;
  margin: 1px 0;
}

.postcode_input {
  width: 62%;
  height: 10%;
  margin-top: 5%;
  box-shadow: 0px 1px 2px 0px #000000;
  border-radius:4px;
  border:1px;
  font-family:Arial;
  font-size:30px;
  text-decoration:none;
  size: 8;
  text-align: center;
}

.contact_input {
  width: 62%;
  height: 5%;
  margin-top: 5%;
  box-shadow: 0px 1px 2px 0px #000000;
  border-radius:4px;
  border:1px;
  font-family:Arial;
  font-size:35px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  size: 10;
  text-align: center;
}

.btn_submit{
  height: 5%;
  padding: 1%;
  margin-bottom: 5%;
  box-shadow: 0px 1px 6px 0px #000000;
  border-radius:4px;
  border:1px;
  font-family:Arial;
  font-size:20px;
  text-decoration:none;
  text-align: center;
  color: #ffffff;
}


.footer_postcode {
  font-size: 20px;
  width: 100%;
}

.footer_postcode_content {
  width: 100%;
  height: 100%;
}

.btn_link {
  width: 18%;
  padding: 1%;
  margin: 2%;
  box-shadow: 0px 1px 6px 0px #000000;
  border-radius:4px;
  border:1px;
  font-family:Arial;
  text-decoration:none;
  text-align: center;
  background-color:#44c767;
  color: #ffffff;
}

.btn_return {
  width: 18%;
  padding: 1%;
  margin: 2%;
  box-shadow: 0px 1px 6px 0px #000000;
  border-radius:4px;
  border:1px;
  font-family:Arial;
  text-decoration:none;
  text-align: center;
  background-color:#44c767;
  color: #ffffff;
}

.personalise_screen {
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.address_list {
  padding: 10px 10px 10px 10px;
  max-width: 100%;
  border-radius: 3px;
  color: #444444;
  font-size: 18px;
}

.register_screen {
  height: 100%;
  width: 100%;
}

/**
* CATEGORIES
*/

.care_self {
  background-color: #cec;
}
.care_other {
  background-color: #ace;
}
.care_house {
  background-color: #eda;
}
.recreation {
  background-color: #ece;
}
.travel {
  background-color: #eea;
}
.food {
  background-color: #cea;
}
.work {
  background-color: #cde;
}
.other_category {
  background-color: #eec;
}
