* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@keyframes slideIn {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes slideBack {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

html, body, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:   20px;
  font-weight: lighter;
  height:      100%;
  width:       100%;
  text-align:  center;
  position:    relative;
  color:       #444;
}

.app {
  margin: 0 auto;
}

#navbar {
  display: table;
  width: 100%;
  height: 8%;
  border-collapse: separate;
  border-spacing: 1px;
}

#server {
  width: 100%;
  height: 92%;
  overflow-y: scroll;
}

#header {
  height: 15%;
}

#clocks {
  height: 20%;
}

#buttons {
  animation: 0.5s ease-out 0s 1 slideIn;
  display: table;
  width:    100%;
  height:    69%;
  border-collapse: separate;
  border-spacing: 10px;
}

#list {
  width: 100%;
  height: 54%;
  overflow-y: scroll;
}

#footer {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  height: 8%;
  background: #000;
}

.btn-row {
  display: table-row;
  padding: 5px 0;
  width: 100%;
  height: 23%;
}

#input {
  width:    100%;
  height:    23%;
  position: absolute;
}

#freetext {
  width:    90%;
  height:   40%;
  font-size:30px;
}


#title {
  display: inline-block;
  font-weight: lighter;
  font-size: 120%;
  vertical-align: top;
  padding: 2%;
}


.clock-act {
  display: inline-block;
  height: 112px;
  width: 112px;
}

#btn-now {
  height: 100%;
}
#btn-recent {
  height: 100%;
}

.row {
  display: table-row;
  padding: 5px 0;
  width: 100%;
  height:100%;
}

.col {
  display: table-cell;
  padding: 5px;
  background: #000;
  color: #fff;
  vertical-align: top;
  background-position: center;
  background-repeat:no-repeat;
  background-size: auto 100%;
}

.col-footer {
  background: #eee;
  color: #444;
}

.col-50 {
  display: table-cell;
  padding: 5px;
  color: #fff;
  vertical-align: middle;
  width: 12%;
}

.col-25 {
  display: table-cell;
  padding: 5px;
  background: #eee;
  color: #444;
  vertical-align: middle;
  width: 25%;
  height: 100%;
}
.btn-activity {
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #eec;
  background-color: #fafafa;
  box-shadow: 2px 2px #eee;
  padding: 10px;
  width: 50%;
}
.btn-title {
  /* the short main description */
  font-weight: lighter;
  font-size: 110%;
  color: #060;
}
.btn-caption {
  display: none;
  font-size: 90%;
  /*color: #060;*/
  color: #060;
  font-style: italic;
  font-family: serif;
}
div.activity-row {
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  background-color: #fafafa;
  box-shadow: 2px 2px #eee;
  margin: 2px 0;
}
div.activity-item {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 2px white solid;
  width: 100%;
}
div.activity-time {
  width:	30%;
}
div.activity-icon {
  width:	50px;
}
img.activity-icon {
  height: 50px;
}
div.btn-time {
  display: table-cell;
  vertical-align: middle;
  width: 28%;
}

div.btn-add {
  display: table-cell;
  /* background: #ededed; */
  vertical-align: middle;
  width: 20%;
}

.help_text{
  margin: 5%;
  padding-top: 5%;
  padding-bottom:: 5%;
  text-align: center;
  font-size: 25px;
  text-align: center;
}

/**
* CATEGORIES
*/
.new {
  border-width: 0px;
  background-color: #fff;
  box-shadow: 0px 0px;
}
.assign {
  border-color: #f00;
}
.intervention {
  border-color: #f00;
}
.study {
  border-color: #0f0;
}
.care_self {
  border-color: #cec;
}
.care_other {
  border-color:#ace;
}
.care_house {
  border-color: #eda;
}
.recreation {
  border-color: #ece;
}
.travel {
  border-color: #eea;
}
.food {
  border-color: #cea;
}
.work {
  border-color: #cde;
}
.other_category {
  border-color: #eec;
}
.freetext {
  border-color: #eec;
}
.date {
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0px 0px;
  font-weight: 700;
}
.blank {
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0px 0px;
}
